.container {
  width: 600px;
}

#trending-keywords {
  margin-top: 30px;
}

#trending-keywords .loading {
  color: #aaa;
  animation: blinker .7s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0.0; }
}

#trending-keywords .keyword-item {
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  border-top: 1px solid #ddd;
}

#trending-keywords .keyword-item:last-child {
  border-bottom: 1px solid #ddd;
}

#trending-keywords .keyword-item .rank {
  text-align: center;
  float: left;
  width: 50px;
  color: #999;
}

#trending-keywords .keyword-item .keyword {
  margin-left: 50px;
  padding: 0 20px;
  font-weight: 300;
  color: #444;
}
