.container {
  width: 600px;
}

#trending-keywords {
  margin-top: 30px;
}

#trending-keywords .loading {
  color: #aaa;
  animation: blinker .7s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0.0; }
}

#trending-keywords .keyword-item {
  height: 50px;
  line-height: 50px;
  border-top: 1px solid #ddd;
}

#trending-keywords .keyword-item:first-child .keyword {
  color: #444;
  font-size: 24px;
}

#trending-keywords .keyword-item:last-child {
  border-bottom: 1px solid #ddd;
}

#trending-keywords .keyword-item .keyword {
  padding: 0 20px;
  font-weight: 300;
  color: #aaa;
  font-size: 20px;
}

#omitted {
  color: red;
}
